<div class='input-group-ember-idno-validator'>
  <label data-test-input-label for={{'validator'}}>Introduceti C.N.P</label>
  <input
    id='validator'
    data-test-input
    {{!    @type='number' }}
    name='validator'
    value={{this.value}}
    maxlength='13'
    {{on 'input' this.validate}}
    {{on 'input' (fn (mut @parentValue) this.value)}}
    {{!-- {{on 'change' (fn(mut {{get  }}))}} --}}
  />
  <small
    data-test-message-error
    class='{{unless this.error 'input-group-ember-hide'}}'
  >Invalid symbol/number</small>
</div>