<div class='input-group-ember-idno-validator'>
  <label data-test-input-label for={{'validator'}}>{{@label}}</label>
  <input
    data-test-input
    name='validator'
    class='{{if this.error 'error'}}'
    value={{this.value}}
    maxlength={{this.minlength}}
    minlength={{this.maxlength}}
    {{on 'keyup' this.validateInput}}
  />
  <small
    data-test-message-error
    class='{{unless this.error 'input-group-ember-hide'}}'
  >Eroare</small>
</div>