{{page-title 'addon usage example'}}

<h2 id='title'>ember-number-input-validator Use Example</h2>

<InputValidator @labelTitle={{'Input IDNP'}} @parentValue={{this.value}} />
<div>{{this.value}}</div>

{{outlet}}